.teddy-collection {
    padding: 50px 0 80px;
    background-color: rgb(247, 247, 247);      
}

.countdown__bottom,
.intro__bottom {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro__bottom {
    background-color: #fff;
    padding: 33px 15px 68px;
}

.countdown__bottom {
    background-color: #000;
    padding: 30px 15px 45px;
    margin-bottom: 1rem;
}

.intro__title {
    font-size: 48px;
    font-family: century-gothic, Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.354em;
    text-align: center;
            
}

.intro__subtitle {
    font-size: 18px;
    font-family: century-gothic, Arial, sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.333em;
    text-align: center;
}

.intro__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown__bottom .intro__buttons {
    margin-top: 0;
}

.teddy__btn {
    margin: 0 37px;
    min-width: 280px;
    padding: 15px;
    text-align: center;
    display: block;
    font-size: 16px;
    font-family: century-gothic, Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #000;
    transition: all .2s ease-in 0s;
}

.countdown__bottom .teddy__btn {
    margin: 0 30px;
    min-width: 220px;
    padding: 10px 15px;
}

.teddy__btn.btn__black:hover {
    color: #000;
    background-color: #fff;
}

.teddy__btn.btn__white:hover {
    color: #fff;
    background-color: #000;
}

.btn__black {
    background-color: #000;
    color: #fff;
}

.btn__white {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

.custom__btn {
    text-decoration: none;
}

.teddy__pretitle {
    font-size: 20px;
    font-family: century-gothic, Arial, sans-serif;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;    
}

.teddy__title {
    font-size: 35px;
    font-family: century-gothic, Arial, sans-serif;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;    
    margin-top: 25px;
}

.teddy__body {
    margin-top: 40px;
    position: relative;
}

.teddy__background {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    max-width: 1147px;
}

.teddy__background__mini {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1767px;
    margin: 0 auto;
}

.mini__polygon {
    position: absolute;
    padding: 28px 150px;
    display: flex;
    flex-direction: column;
    background: #fff;
    align-items: center;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transition: .2s;
}

.mini__polygon.left {
    left: 0;
}

.mini__polygon.center {
    top: 50%;
    transform: translateY(-50%);
}

.mini__polygon.right {
    right: 0;
}

.mini__polygon.top {
    top: 12%;
}

.mini__polygon.bottom {
    bottom: 12%;
}

.mini__polygon__title {
    font-size: 40px;
    font-family: century-gothic, Arial, sans-serif;
    line-height: 45px;
    text-align: center;
}
.mini__polygon__btn {
    font-size: 24px;
    font-family: century-gothic, Arial, sans-serif;
    line-height: 28px;
    text-align: center;
    font-weight: 900;
    margin-top: 10px;
}

.mini__polygon__link {
    text-decoration: none;
}

.teddy__img {
    display: flex;
    margin: 0 auto;
}

.background__polygon {
    background-image: url(../image/polygon_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.teddy__bottom {
    margin: 0 auto;
    width: 100%;
    max-width: 1339px;
    padding: 28px;
    position: relative;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.polygon__block {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.polygon__block__left {
    margin-left: auto;
    margin-right: 100px;
}

.polygon__block__right {
    margin-left: 100px;
    margin-right: auto;
}


.polygon__pretitle {
    font-size: 20px;
    font-family: century-gothic, Arial, sans-serif;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
}

.polygon__title {
    font-size: 35px;
    font-family: century-gothic, Arial, sans-serif;
    color: #000;
    line-height: 40px;
    text-align: center;
}

.polygon__mini__image {
    margin-top: auto;
}

.polygon__image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.polygon__image__right {
    order: 1;
}

.polygon__image__left {
    order: -1;
}

.b-footer-social {
    border-top: 2px solid #000;
}

.b-footer {
    padding-top: 95px;
}

.sale {
    font-size: 121.643px;
    font-family: 'aktiv-grotesk', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.028em;
}

.fashionshow-countdown-block {
    font-family: "Century Gothic", sans-serif;
}

.top-banner {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    color: #fff;
}

.top-banner-wrapper {
    margin: 0 auto;
    position: relative;
}

.top-banner__text {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 2px;
}

.top-banner__close {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 31px;
    cursor: pointer;
}

#header.with__banner {
    margin-top: 38px;
}

.mainSwiper {
    display: none;
}

@media screen and (min-width: 768px) {
    .b-footer-social,
    .b-newsletter {
        padding: 60px 0;  
    }

    .b-footer_menu {
        padding: 60px 0 70px;
    }
}

@media screen and (max-width: 1024px) {
    .mini__polygon img {
        max-height: 200px;
    }

    .mini__polygon__title {
        font-size: 24px;
        line-height: 26px;
    }

    .mini__polygon__btn {
        font-size: 20px;
        line-height: 24px;
    }

    .mini__polygon {
        padding: 20px 100px;
    }
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 34px;
    }

    .teddy__title {
        font-size: 24px;
        margin-top: 15px;
    }

    .teddy__pretitle {
        font-size: 18px;
    }

    .intro__subtitle {
        font-size: 16px;
    }

    .b-footer {
        padding-top: 25px;
    }
    .teddy__background__mini {
        display: none !important;
    }
    .mainSwiper {
        display: block;
    }

    .multi-col-swiper .multi-col-swiper-container.swiper-container .swiper-wrapper .swiper-slide img {
        width: unset !important;
    }

    .link-bottom {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    .mini__polygon__btn {
        margin-top: 5px;
    }
}

@media screen and (max-width: 676px) {
    .intro__buttons {
        flex-wrap: wrap;
    }

    .countdown__bottom .teddy__btn,
    .teddy__btn {
        width: 100%;
        margin: 10px 0;
        font-size: 14px;
    }

    .intro__bottom {
        padding-bottom: 38px;
    }

    .top-banner__close {
        top: -1px;
        right: 10px;
    }

    .polygon__pretitle {
        font-size: 16px;
    }

    .polygon__pretitle {
        line-height: 18px;
    }

    .polygon__title {
        font-size: 22px;
        line-height: 26px;
        margin-top: 5px;
    }

    .teddy__bottom {
        padding-left: 15px;
        padding-right: 15px;
    }

    .polygon__block {
        margin: 0;
        width: 31%;
    }

    .polygon__image {
        width: 65%;
    }

    .background__polygon {
        background: #fff;
    }

    .teddy-collection:not(:last-of-type) {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 630px) {
    .mini__polygon img {
        max-height: 120px;
    }

    .mini__polygon {
        padding: 16px 80px;
    }

    .mini__polygon__title {
        margin-top: 15px;
    }

    .mini__polygon.top {
        top: 4%;
    }

    .mini__polygon.bottom {
        bottom: 4%;
    }
}

@media screen and (max-width: 561px) {
    .mini__polygon img {
        max-height: 100px;
    }

    .mini__polygon {
        padding: 15px 60px;
    }

    .mini__polygon__title {
        margin-top: 5px;
    }

    .mini__polygon__title {
        font-size: 14px;
        line-height: 16px;
    }

    .mini__polygon__btn {
        font-size: 14px;
        line-height: 16px;
    }
}